.dropdown {
  .dropdown-menu {
    transition: all 0.2s;
    overflow: hidden;
    transform-origin: top center;
    transform: scale(1, 0);
    display: block;
  }
  .dropdown-menu.show {
    transform: scale(1);
  }
}
